<p>
  <strong>起始时间:</strong>
  <%= @croues_time.start_time %>
</p>
 
<p>
  <strong>结束时间:</strong>
  <%= @croues_time.end_time %>
</p>

 <p>
  <strong>上课节次:</strong>
  <%= @croues_time.ctime_id  %>
 </p>

 <p>
  <strong>序号:</strong>
  <%= @croues_time.order  %>
 </p>

<%= link_to '返回',croues_times_path %>



