
 欢迎:<%= @current_user.email %><br><br>

 <%= search_form_for @q, url: classnames_path do |f| %>
  <%= f.label :查找班级 %>
  <%= f.search_field :cname_or_teacher_tname_cont %>
  <%= f.select :teacher_id_eq, options_for_select(Teacher.all.map{|t| [t.tname, t.id]},
   params[:q][:teacher_id_eq]), prompt: "请选择"%>
  <%= f.submit "查找"%>
<% end %>

  
<br>
<h1>班级列表</h1>
<%= link_to '新建班级', new_classname_path %>
 <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;”>
<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;border-width:0px; border-style:hidden;">
  <tr>
    <th>班级序号</th>
    <th>班级名称</th>
    <th>班级信息</th>
    <th>班主任信息</th>
    <th>任课老师数量</th>
    <th>班级学生数量</th>
    <th>展示 修改 删除</th>
  </tr>
   
  <% @classnames.includes(:teacher, :teachers, :stus ).reorder(cno: :asc).each do |classname| %>
           
    <tr>
      <td><%= classname.cno   %></td>
      <td><%= classname.cname %></td>
      <td><%= classname.ctext %></td>
      <td><%= classname.teacher.try(:tname) %></td>
      <td><%= classname.teachers.size %></td>
      <td><%= classname.stus.size %></td>
      <td><%= link_to '展示', classname_path(classname) %>
          <%= link_to '修改', edit_classname_path(classname) %>
          <%= link_to '删除', classname_path(classname),
              method: :delete,
              data: { confirm: '是否确认删除?' }%></td>
    </tr>
  <% end %>

</table>
<%#= will_paginate @classnames, :previous_label => '上一页', :next_label => '下一页' %>


<h1>班级信息</h1>


<table class="table table-bordered table-hover">
  <tr class="text-info">
    <%= link_to "课程目录", courses_path %><br>

    <%= link_to "上课时间", croues_times_path %>|

    <%= link_to "上课日期",  weeks_path %><br>

    <%= link_to "教师信息", teachers_path %><br>
 
    <%= link_to "学生信息",  stus_path    %>|

    <%= link_to "选择课程",  select_courses_path    %><br>
    
    <%= link_to "管理员设置", regist_users_path   %><br>
  </tr>
</table>
